<ul>
    <button>
        <li routerLink="/rxjs2">RxJs 2</li>
    </button>
    <button>
        <li routerLink="/rxjs3">RxJs 3</li>
    </button>
    <button>
        <li routerLink="/rxjs4">RxJs 4</li>
    </button>
    <button>
        <li routerLink="/search">Saerch</li>
    </button>
    <button>
        <li routerLink="/subject">Subject</li>
    </button>
    <button>
        <li routerLink="/async">async</li>
    </button>
    <button>
        <li routerLink="/concat">Concat And Merge</li>
    </button>
    <button>
        <li routerLink="/margeMap">Marge Map</li>
    </button>
    <button>
        <li routerLink="/dynamichtml">Dynamic HTML</li>
    </button>
    <button>
        <li routerLink="/swicth">Switch Map Search</li>
    </button>
    <button>
        <li routerLink="/exhaust">Exhaust Map</li>
    </button>
    <button>
        <li routerLink="/shareReplay">ShareReplay</li>
    </button>
</ul>

<h5 *ngIf="exclusive">This is only for search component</h5>

<router-outlet></router-outlet>